In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect('INSTRUCTOR.db')

In [7]:
cursor_obj = conn.cursor()

In [9]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [10]:
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
 
cursor_obj.execute(table)
 
print("Table is Ready")

Table is Ready

In [11]:
cursor_obj.execute('''insert into INSTRUCTOR values (1, 'Rav' , 'Ahuja', 'TORONTO', 'CA')''')

In [12]:
cursor_obj.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [13]:
statement= '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all= cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

Fetch only Fname from table

In [14]:
statement= '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("all the data")
output_columns= cursor_obj.fetchall()
for fetch in output_columns:
    print(fetch)

all the data
('Rav',)
('Raul',)
('Hima',)

updatin rav's city to KOLKATA

In [16]:
query_update= '''UPDATE INSTRUCTOR SET CITY = 'KOLKATA' where FNAME = "Rav"'''
cursor_obj.execute(query_update)

In [17]:
statement ='''SELECT* FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("ALL THE DATA")
output1= cursor_obj.fetchmany(2)
for row in output1:
    print(row)

ALL THE DATA
(1, 'Rav', 'Ahuja', 'KOLKATA', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

Retreiving data into pandas

In [21]:
import pandas as pd
df=pd.read_sql_query("SELECT * FROM INSTRUCTOR;",conn)

df

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  KOLKATA    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

In [22]:
df.LNAME[0]

'Ahuja'

In [23]:
df.shape

(3, 5)

In [24]:
conn.close()